<h1 mat-dialog-title>Edit phone</h1>
<div mat-dialog-content>

  <app-edit-phone-form [phone]="phone" *ngIf="!isLoading"></app-edit-phone-form>

  <div class="container" *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>
<div mat-dialog-actions class="container" *ngIf="!isLoading">
  <button
    mat-raised-button
    color="primary"
    (click)="onSaveClick()"
    class="save-button"
  >
    Save
  </button>
  <button mat-raised-button (click)="onCancelClick()" class="cancel-button">
    Cancel
  </button>
</div>
