<p>login-page works!</p>

<mat-card>
  <div class="vertical-container">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" class="save-button">Save</button>
    <button mat-raised-button class="cancel-button">Cancel</button>
  </div>
</mat-card>
