<!-- <p>phone-list works!</p> -->
<h1 style="text-align: center">Phones</h1>
<div class="mat-elevation-z8 table-container">
  <table>
    <thead>
      <tr style="text-align: left">
        <th *ngFor="let column of columns">{{ column }}</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let phone of phones" class="entry-row">
        <td>{{ phone.id }}</td>
        <td>{{ phone.type }}</td>
        <td>{{ phone.serial }}</td>
        <td>{{ phone.color }}</td>
        <td *ngIf="phone.metadata; else noMetadata">
          <app-file-download [fileBase64]="phone.metadata"></app-file-download>
        </td>
        <ng-template #noMetadata>
          <td>No metadata available</td>
        </ng-template>
        <td>
          <app-actions-menu
            [phone]="phone"
            (onEditPhone)="onEditAction($event)"
            (onDeletePhone)="onDeleteAction($event)"
          ></app-actions-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
