<!-- <p>phone-list works!</p> -->
<h1 style="text-align: center">Phones</h1>
<div class="mat-elevation-z8">
  <table>
    <thead>
      <tr style="text-align: left;">
        <th *ngFor="let column of columns">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let phone of phones" (click)="onClickRow(phone)">
        <td>{{phone.id}}</td>
        <td>{{phone.type}}</td>
        <td>{{phone.serial}}</td>
        <td>{{phone.color}}</td>
      </tr>
    </tbody>
  </table>
</div>
