.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.align-center {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mb-small {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.generic-card {
  max-width: 25vw;
  margin: auto;
}